<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>A Simple Chat with contacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="http://ashwinshenoy.com/img/favicon.png">
    <!-- CSS -->
    <link href="./styles/bootstrap.min.css" rel="stylesheet">
    <link href="./styles/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="./styles/style.css" type="text/css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-fluid" ng-controller='AppCtrl'>

      <div class="row" ng-show="initName == null">
      <!-- <div class="row" ng-if="!initName"> -->
        <div class="col-sm-offset-2 col-sm-8 text-center">
          <br><br><br><br>
          <div class="demo-hd1">A Simple Chat with predefined contacts</div>
          <div class="white-box">
            <span class="login-txt">Select a name:</span>
            <select ng-model="connect.id">
              <option ng-repeat="contact in contacts" ng-value="contact.id" ng-bind="contact.name"></option>
            </select>
            <br><br>
            <button type="submit " id="join " ng-click="init(connect) " class="btn btn-default ">Submit</button>
            <br><br>
            <small>Simple login tracker (Names are hard coded)</small>
            <br>
            <small>(Contacts DB can be Integrated)</small>
          </div><!--White-box end-->
          <br><br><br><br>
          <div class="footer text-center">
            <span class="foo-txt">
              Crafted with <i class="fa fa-heart" aria-hidden="true"></i> in Bangalore, India
            </span>
          </div><!--footer end-->
        </div><!--col-sm-* end-->
        <a href="https://github.com/ashwinkshenoy/whatchat">
          <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://ashwinshenoy.com/bot/img/fork.png">
        </a>
      </div><!--row end-->


      <div class="row no-padd main-div" ng-cloak ng-show="initName != null">
      <!-- <div class="row no-padd main-div" ng-cloak ng-if="initName" > -->
        <div class="col-sm-3 mob-contact">

          <div class="grey-head1 bdr-right">
            <i class="fa fa-close menu-close" ng-click="menu()"></i>
            <img src="images/1.png" alt="my-profile-pic" class="profile-img">
            <span class="loggedin-name">Hi <span ng-bind="initName"></span></span>
          </div><!--grey-head end-->

          <div class="grey-head2 bdr-right">
            <div class="search-bar">
              <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span><!--input-group-addon end-->
                <input type="text" ng-model="search" class="form-control search-bar-txt hide-foo-nav" placeholder="Search">
              </div><!--input-group end-->
            </div><!--search bar end-->
          </div><!--grey-head end-->


          <div class="white-box2 bdr-right chat-scroll">
            <!-- NG:Repeat contacts -->
            <div ng-repeat='contact in contacts | filter:search'>
              <a ng-click="joinRoom(contact.id)" ng-hide="contact.name == initName">
                <div class="chat-person" ng-class="{'room-active': selected == contact.id}">
                  <div class="row">
                    <div class="col-xs-3">
                      <img src="images/1.png" alt="" class="chat-img">
                    </div><!--col-xs-* end-->
                    <div class="col-xs-6">
                      <div class="chat-name-left" ng-bind="contact.name"></div>
                      <div class="chat-msg-left" ng-bind="contact.room"></div>
                    </div><!--col-xs-* end-->
                    <div class="col-sm-3 text-right">
                      <span ng-repeat="notifyy in notify">
                        <span class="badge chat-badge" ng-show="notifyy == contact.id">N</span>
                      </span>
                    </div><!--col-sm-* end-->
                  </div><!--row end-->
                </div><!--chat-person-->
              </a>
            </div><!---->
            <!-- NG:Repeat contacts end -->
          </div><!--white box end-->
        </div><!--col-sm-* end-->


        <div class="col-sm-9 mob-chat" ng-hide="chattingWith == null">
          <div class="grey-head1 bdr-bottom mob-fix-g2">
            <i class="fa fa-bars menu-chat" ng-click="menu()"></i>
            <img src="images/1.png" class="profile-img">
            <span class="chat-box-name" ng-bind="currentUser"></span>
          </div><!--grey-head end-->

          <div class="white-chat-box chat-scroll" scroll="users">

            <div ng-repeat="history in history" class="ng-scope">
  						<div ng-if="history">
  							<div ng-class="{'chat-from' : (history.type == 'from'), 'chat-to' : (history.type == 'to')}">
                  <div class="ng-binding">
                    <span ng-bind="history.message"></span>
                    <br>
                    <span class="chat-time" ng-bind=" history.date | date: 'h:mma' "></span>
  								</div><!--ng-binding-->
  							</div><!--ng-class:chat-from / to-->
  						</div><!--ng-if:USER-->
  					</div><!--ng-repeat end-->

            <div ng-repeat="user in users" class="ng-scope">
  						<div ng-if="user">
  							<div ng-class="{'chat-from' : (user.username != currentUser), 'chat-to' : (user.username == currentUser)}">
                  <div class="ng-binding">
                    <!-- <strong>{{user.username}}</strong> :  -->
                    <span ng-bind="user.message"></span>
                    <br>
                    <span class="chat-time" ng-bind=" user.date | date: 'h:mma' "></span>
  								</div><!--ng-binding-->
  							</div><!--ng-class:chat-from / to-->
  						</div><!--ng-if:USER-->
  					</div><!--ng-repeat end-->

          </div><!--white box end-->

          <div class="send-div">
            <form ng-submit="doPost(message)">
              <input type="text" class="form-control chat-txt-field" placeholder="Type a message" ng-model="message">
            </form><!--form end-->
          </div><!--send-div end-->
        </div><!--col-sm-* end-->

        <div class="col-sm-8 text-center mob-splash" ng-hide="chattingWith != null">
          <div class="padd-10">
            <i class="fa fa-bars menu-splash" ng-click="menu()"></i>
            <div class="splash-space"></div>
            <img src="images/poster.png" alt="splash-poster" class="poster1 img-responsive">
            <br><br>
            <div class="demo-hd1">A Simple Chat with predefined contacts.</div>
            <small>(Open in two browsers with different initial names to test out the feature)</small>
            <br>
            <small>(You can fetch the contacts from a DB)</small>
            <br><br>
            <div class="footer text-center">
              <span class="foo-txt">
                Crafted with <i class="fa fa-heart" aria-hidden="true"></i> in Bangalore, India
              </span>
            </div><!--footer end-->
          </div><!--padd-10-->
        </div><!--Initial right chat screen end-->

      </div><!--row end-->

      <div class="overlay" ng-click="menu()"></div>
    </div><!--container end-->

    <!--JS-->
    <script src="/socket.io/socket.io.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript " src="./scripts/angular.min.js "></script>
    <script type="text/javascript " src="./scripts/ash.js "></script>

  </body>
</html>
